body {
  margin: 0;
}

.navigation {
  background-color: #f9b572;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
}

li {
  margin: 0 10px;
  list-style: none;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.bg_image {
  background-image: url("/assets/my-dog.jpeg");
  background-size: cover;
  width: 500px;
  height: 500px;
}

.border-1 {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}
